### SQLite 3 - in memory database

In [16]:
import sqlite3 as sql3
connection = sql3.connect('movies.db')
cursor = connection.cursor()
#cursor.execute("""CREATE TABLE IF NOT EXISTS Movies
#(Title TEXT, Director TEXT, Year INT)""")
#cursor.execute("""INSERT INTO Movies VALUES
#('Taxi Driver', 'Martin Scorsese', 1975)""")

# famousFilms = [
#     ('Pulp Fiction', 'Quentine Tarantino', 1994),
#     ('Bank to the Future', 'Steven Spielberg', 1985),
#     ('Moonrise Kingdom', 'Wes Anderson', 2012)]

# cursor.executemany('INSERT INTO Movies VALUES (?,?,?)', famousFilms)

results = cursor.fetchall()

In [7]:
cursor.execute("SELECT * FROM Movies")
results = cursor.fetchall()
print(results)

[('Pulp Fiction', 'Quentine Tarantino', 1994), ('Bank to the Future', 'Steven Spielberg', 1985), ('Moonrise Kingdom', 'Wes Anderson', 2012)]

In [14]:
# To avoid SQL-enjection attack, use tuple
release_year = (1985,)
cursor.execute("SELECT * FROM Movies WHERE year=?", release_year)

results = cursor.fetchall()
print(results)

[('Bank to the Future', 'Steven Spielberg', 1985)]

In [17]:
connection.commit()
connection.close()

### SQLAlchemy is popular Object-Related Mapping (ORM)  
What is a more Pythonic way to work with DBMS